<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.using_onsubmitted_to_show_input_text_after_submit_flutter_06">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
